*.pyc
MANIFEST
ccc.egg-info
.coverage
htmlcov/*
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.pdfsync
*.synctex.gz
*.toc
*.swp
*.asv
*.nav
*.snm
*.gz
*.bib.bak
*.fls
*.m~
*.sublime*
.DS_Store
*puf.csv
*.ipynb_checkpoints*
*/__pycache__/*
*.cache*
docs/book/_build/*
example.html
baseline_byindustry.csv
reform_byindustry.csv
baseline_byasset.csv
reform_byasset.csv
changed_byindustry.csv
changed_byasset.csv
